@charset "utf-8";
/*
---
name: button
category:
  - object
  - object/project/button
---

ボタンです。

*/

.p-button-helper {
  width: 100%;
  padding: $input-btn-padding-y-lg $input-btn-padding-x-lg;
  background-color: $white;
  color: $site-theme-color;
  display: block;
}

.p-button-cart {
  width: 100%;
  padding: $input-btn-padding-x-lg $input-btn-padding-x-lg;
  background-color: $pink;
  color: $site-theme-color;
  display: block;
}
