@charset "utf-8";
/*
---
name: category-grid
category:
  - object
  - object/project/category-grid
---

カテゴリのグリッド表示です。
グローバルナビのドロップダウンメニュー内に表示されます。
*/

.p-category-grid {
  display: flex;
  flex-wrap: wrap;
  > li {
    margin-bottom: 20px;
    flex-basis: calc(100% / 7);
    text-align: center;
    font-size: 1.2rem;
    > a {
      padding-bottom: 20px;
      display: block;
      &:hover {
        background-color: #263d5f;
      }
      > img {
        display: inline-block;
        padding: 20px 0;
      }
    }
  }
}