@charset "utf-8";
/*
---
name: collection-banners
category:
  - object
  - object/project/collection-banners
---

コレクションバナーです。

*/

.p-header-navigation .p-collection-banners img {
  width: 100%;
  height: auto;
}

.p-collection-banners {
  margin: 0;
  padding: 0;
  > li {
    margin: 1rem 0;
    display: block;
    text-align: center;
  }
}