@charset "utf-8";
/*
---
name: footer_pc
category:
  - object
  - object/project/footer_pc
---

サイトのPC用フッターです。

*/

@include media-breakpoint-up(md) {
  .p-footer {
    padding: 4rem 0 3rem 0;
    &-helper {
      display: flex;
      justify-content: center;
      > li + li {
        padding-left: 2rem;
        margin-left: 2rem;
        border-left: 1px solid $site-theme-border;
        border-top: none;
        color: #000;
      }
    }
  }
}