@charset "utf-8";
/*
---
name: footer
category:
  - object
  - object/project/footer
---

サイトのフッターです。

*/

.p-footer {
  background-color: $site-theme-color;
  &-helper {
    margin: 0;
    padding: 0;
    > li {
      display: block;
      @include media-breakpoint-down(sm) {
        margin: 0;
        padding: 0;
        font-size: 1.4rem;
        + li {
          border-top: 1px solid rgba($black, 0.3);
        }
      }
      > a {
        display: block;
        color: $white;
        @include media-breakpoint-down(sm) {
          padding: $input-btn-padding-x-lg;
          text-align: center;
          &:hover {
            text-decoration: none;
            opacity: 0.8;
            transform: $transition-fade;
          }
        }
      }
    }
  }
  &-icons {
    margin: 0 0 20px 0;
    padding: 0;
    display: flex;
    justify-content: center;

    @include media-breakpoint-up(md) {
      display: none;
    }
    > li {
      margin: 0;
      padding: 0 15px;
    }
  }

  //Widget
  &Widget-country {
    margin: 0 auto;
    text-align: center;
  }
}

//Country
.p-dropdown-country {
  width: 95%;
  margin: 20px 0;
  padding: $input-btn-padding-x-lg;
  background-color: $site-secondary-color;
  display: inline-block;
  @include media-breakpoint-up(md) {
    width: auto;
    padding: $input-btn-padding-x-sm 4rem;
    font-size: 1rem;
  }
  &__title {
    text-align: center;
    font-weight: normal;
  }
  &__body {
    display: none;
  }
  &__list {
    margin: 0;
    padding: 0;
    > li {
      margin: 0;
      padding: 0;
      display: block;
      text-align: center;
    }
  }
}

//copyright
.p-copyright {
  padding: 1.5rem 0.5rem;
  color: $site-secondary-color;
  text-align: center;
  display: block;

  @include media-breakpoint-down(sm) {
    border-top: 1px solid $site-theme-border;
  }
}

//pagetop
.p-pagetop {
  position: relative;
  @include media-breakpoint-up(md) {
    height: 100px;
  }
  &--footer {
    display: block;
    text-indent: -9999px;
    position: relative;
    background: url("../../shared/images/common/leon.png") no-repeat center bottom;

    @include media-breakpoint-up(md) {
      width: 35px;
      height: 27px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    @include media-breakpoint-down(sm) {
      height: 45px;
      background: #8490a2 url("../../shared/images/common/leon.sp.png") no-repeat center center;
      background-size: 27px 21px;
    }
  }
  &--fixed {
    width: 75px;
    height: 75px;
    position: fixed;
    z-index: 9;
    right: 30px;
    bottom: 262px;
    color: #000;
    display: block;
    text-indent: -9999px;
    background: url("../../shared/images/common/pagetop.active.png") no-repeat center center;

    @include media-breakpoint-down(sm) {
      display: none;
    }

  }
}