@charset "utf-8";
/*
---
name: header_pc
category:
  - object
  - object/project/header_pc
---

サイトのPC用ヘッダーです。

*/

@include media-breakpoint-up(md) {
  .p-header {
    &-information {
      padding: 0.6rem 0;
    }
    &-mainContainer {
      max-width: calc(#{$container-max-width} + 40px);
      height: 100px;
      margin: 0 auto;
      padding: 0 20px 0 25px;
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
    }
    &-logo {
      width: 166px;
      height: 47px;
      &.stuck {
        width: 114px;
        height: 32px;
        flex-shrink: 0;
        display: none;
      }
    }
    &-helper {
      display: flex;
      > li {
        margin: 0 15px;
        display: block;
        &:first-child {
          margin-right: 0;
          padding-right: 20px;
          border-right: 1px solid $site-theme-border;
        }
      }
    }
    //Navigation
    &-navigation {
      display: flex;
      justify-content: space-between;
      //position: relative;
      &__item {
        display: block;
        font-size: 1.5rem;
        > span, > a {
          display: block;
          padding: 20px 25px;
          color: $white;
          cursor: pointer;
          &:hover {
            opacity: 0.5;
            text-decoration: none;
          }
        }
        &__contents {
          width: 100%;
          min-width: $body-min-width;
          position: absolute;
          z-index: 1;
          left: 0;
          background-color: rgba(13, 40, 77, 0.95);

          overflow: hidden;
          max-height: 0;
          opacity: 0;
          transition: max-height 1.1s 0s, opacity 1.1s 0.3s;

          > .contents-inner {
            max-width: calc(#{$container-max-width} + 40px);
            margin-left: auto;
            margin-right: auto;
            padding: 40px 0;
          }
        }
        &.mouseover:hover &__contents {
          max-height: 1000px;
          opacity: 1;
          transition: max-height 1s, opacity 0.1s;
          z-index: 9;
        }
      }
      .sticky &__item {
        > span, > a {
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }

    }

    //Widget
    &Widget-helpers,
    &Widget-navigation {
      display: flex;
    }
    &Widget-helpers {
      @include media-breakpoint-up(md) {
        width: 700px;
      }
      justify-content: space-between;
    }
    &Widget-navigation {
      border-top: 1px solid $site-theme-border;
      justify-content: space-between;
      align-items: center;
      top: -200vh;
      text-align: center;

      //Header stuck
      .p-navigation-stuck {
        width: 100%;
        max-width: calc(#{$container-max-width} + 40px);
        margin: 0 auto;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        //position: relative;
        //left: 50%;
        //transform: translateX(-50%);
      }

      &.sticky,
      &.sticky-end {
        width: 100%;
        padding: 0 20px;
        position: fixed;
        top: 0px;
        z-index: 9;
        transition: top 2s;
        background-color: $site-theme-color;


        .p-header-logo.stuck {
          display: block;
        }

        .p-header-navigation {
          //padding-left: calc(114px + 45px);
          &__item {
            font-size: 1.4rem;
            white-space: nowrap;
          }
        }
      }
      &.sticky-end {
        top: -200vh;
        transition: top 3s;
      }
      &.sticky-clone {
        position: fixed;
      }
    }
    &Widget-helper,
    &Widget-search,
    &Widget-icons {
      align-items: center;
      align-self: center;
    }

  }

  .p-icons {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    &.stuck {
      display: none;
    }
    > li {
      margin: 0 7px;
      flex-shrink: 0;
      display: block;
    }
  }

}

.p-collection-banners img {
  width: 100%;
  height: auto;
}