@charset "utf-8";
/*
---
name: header_pc
category:
  - object
  - object/project/header_pc
---

サイトのPC用ヘッダーです。

*/

@include media-breakpoint-up(md) {
  .p-header {
    &-information {
      padding: 0.6rem 0;
    }
    &-mainContainer {
      height: 100px;
      padding: 0 20px 0 25px;
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
    }
    &-logo {
      width: 166px;
      height: 47px;
    }
    &-helper {
      display: flex;
      > li {
        margin: 0 15px;
        display: block;
        &:first-child {
          margin-right: 0;
          padding-right: 20px;
          border-right: 1px solid $site-theme-border;
        }
      }
    }
    //Navigation
    &-navigation {
      display: flex;
      justify-content: space-between;
      position: relative;
      padding-left: 45px;
      &__item {
        display: block;
        font-size: 1.5rem;
        > a {
          display: block;
          padding: 20px;
          &:hover {
            opacity: 0.8;
            text-decoration: none;
          }
        }
        &__contents {
          width: 100vw;
          display: none;
          position: absolute;
          z-index: 1;
          left: 0;
          color: #000;
          background-color: transparentize($site-theme-color, 0.5);
        }
        &.mouseover:hover &__contents {
          display: block;
        }
      }
    }

    //Widget
    &Widget-helpers,
    &Widget-navigation {
      display: flex;
    }
    &Widget-helpers {
      @include media-breakpoint-up(md) {
        width: 700px;
      }
      justify-content: space-between;
    }
    &Widget-navigation {
      border-top: 1px solid $site-theme-border;
      justify-content: space-between;
    }
    &Widget-helper,
    &Widget-search,
    &Widget-icons {
      align-items: center;
      align-self: center;
    }
  }

  .p-icons {
    display: flex;
    justify-content: space-between;
    > li {
      margin: 0 7px;
      display: block;
    }
  }

  .p-search {
    display: flex;
  }

  .p-cart-status {
    display: none;
  }

  //cart
  .p-navigation-cart {
    display: flex;
    position: relative;
    &__anchor {
      width: 80px;
      display: flex;
      justify-content: center;
      align-self: stretch;
      &:before {
        width: 16px;
        align-self: center;
        display: block;
        content: url("../../shared/images/common/ico-bag.svg");
      }
      &:hover {
        text-decoration: none;
        &:before {
          opacity: 0.5;
        }
      }
    }
    &__hidden {
      display: none;
    }
    &__number {
      width: 1.6rem;
      margin-top: -20px;
      line-height: 1.6rem;
      background-color: $danger;
      border-radius: 50%;
      display: block;
      text-align: center;
      align-self: center;
      font-size: 1rem;
    }
  }

  //search
  .p-search {
    padding-right: 1rem;
    background-color: rgba($white, 0.15);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__input {
      width: 220px;
      padding: 0.6rem 1rem;
      border: none;
      background: none;
      color: $white;
      font-size: 1.2rem;
      appearance: none;
      outline: none;
    }
    &__button {
      width: 20px;
      border: none;
      background: none;
      cursor: pointer;
    }
  }
}