@charset "utf-8";
/*
---
name: instagram-grid
category:
  - object
  - object/project/instagram-grid
---

Instagramのグリッド表示です。

*/
.p-instagram {
  margin-bottom: 20px;
  padding-bottom: 80px;
  background-color: #e5e5e5;

  @include media-breakpoint-down(sm) {
    padding-bottom: 30px;
  }

&-container {
  max-width: $container-max-width;
  margin-bottom: 30px;
  @include make-container();
}

&-grid {
  //@include make-row();

  &__item {
    //max-width: 250px;
    background-color: $white;
    @include make-col-ready();

    @include media-breakpoint-down(xs) {
      @include make-col(6);
    }
    @include media-breakpoint-down(sm) {
      @include make-col(4);
    }
    @include media-breakpoint-up(md) {
      //@include make-col(3);
      //5カラムにする
      margin-right: 5px;
      margin-bottom: 5px;
      max-width: calc((100%  / 5) -  5px);
      flex-basis: calc((100%  / 5) -  5px);
    }

    position: relative;
    border: 1px solid $white;
    transition: $transition-base;
    &.mouseover:hover {
      border: 1px solid $gray-300;
    }
  }
}
}