@charset "utf-8";
/*
---
name: pickup-banner
category:
  - object
  - object/project/pickup-banner
---

トップのピックアップバナー

*/

.p-pickup {
  margin: 40px 0;

  &-banner {
    > li {
      margin: 10px 0;
      display: block;
      text-align: center;
    }
  }
}