@charset "utf-8";
/*
---
name: recommend-grid
category:
  - object
  - object/project/recommend-grid
---

おすすめ商品のグリッド表示です。

*/

.p-recommend {
  background-color: $gray-200;
}

.p-recommend-container {
  max-width: $container-max-width;
  padding-bottom: 80px;
  @include media-breakpoint-up(md) {
    @include make-container();
  }
}

.p-recommend-grid {
 // @include make-row();


  &__item {
    //max-width: 250px;
    //@include make-col-ready();
    //
    //
    //@include media-breakpoint-down(xs) {
    //  @include make-col(6);
    //}
    //@include media-breakpoint-only(sm) {
    //  @include make-col(4);
    //}
    //@include media-breakpoint-up(md) {
    //  @include make-col(3);
    //}

    position: relative;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transition: $transition-base;
    &.mouseover:hover {
      border: 1px solid $gray-300;
    }
    //
    //@include media-breakpoint-up(md) {
    //  &.mouseover &__link {
    //    flex-wrap: nowrap;
    //    color: red;
    //  }
    //}

  }

  &__link {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    transition: $transition-base;


    &.p-label {
      transition: $transition-base;
      &.new:before {
        content: 'NEW';
        color: $orange;
      }
      &:before {
        width: 42px;
        line-height: 42px;
        text-align: center;
        font-size: 1.4rem;
        border: 1px solid $orange;
        border-radius: 50%;
        background-color: $white;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 0;
      }
    }
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }

  //&__link:hover &__image {
  //  opacity: 0.8;
  //  transition: $transition-base;
  //}

  &__link:hover .mouseover {
    background-color: rgba($white, 0.8);
    opacity: 1;
  }

}

.p-recommend-info {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  align-content: flex-end;
  z-index: 2;
  transition: $transition-base;
  position: relative;

  &.mouseover:after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    z-index: 2;
    transition: $transition-base;
  }
  &.mouseover:hover:after {
    opacity: 1;
  }

  @include media-breakpoint-up(md) {
    &.mouseover {
      position: absolute;
    }
    &.mouseover,
    &.mouseover:after {
      opacity: 0;
    }
    &.mouseover:after {
      content: url("../../shared/images/common/product-list-over.png");
    }
  }

  &__name {
    font-weight: normal;
    font-size: 1.4rem;
    color: $body-color;
  }

  &__price {
    margin-bottom: 0;
    color: $gray-600;
    font-weight: bold;
  }
}
