@charset "utf-8";
/*
---
name: search-form
category:
  - object
  - object/project/search-form
---

検索窓です。

*/

.p-search {
  padding-right: 1rem;
  background-color: rgba($white, 0.15);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__input {
    width: 220px;
    padding: 0.6rem 1rem;
    border: none;
    background: none;
    color: $white;
    font-size: 1.2rem;
    appearance: none;
    outline: none;
  }
  &__button {
    width: 20px;
    border: none;
    background: none;
    cursor: pointer;
  }
  &-input__button {
    max-width: none;
  }

}