@charset "utf-8";
/*
---
name: slider
category:
  - object
  - object/project/slider
---

スライダー用。

*/
.p-slider-visual {
  @include media-breakpoint-up(md) {
    img {
      max-width: none;
      width: 1400px;
      height: 520px;
      left: 50%;
      transform: translateX(-50%);
      position: relative;
      overflow: hidden;
    }

  }
}
