@charset "utf-8";
/*
---
name: toggle-navigation
category:
  - object
  - object/project/toggle-navigation
---

スマホ用のトグルナビゲーションです。
ファイル名変更する。
*/

.p-toggle-navigation {
  width: 100%;
  &-container {
    width: 100%;
    height: calc(100% - #{$header-height-sp});
    margin-top: $header-height-sp;
    margin-bottom: $header-height-sp;
    padding-bottom: 3rem;
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: $site-theme-color--lighten;
    display: none;
    @include media-breakpoint-up(md) {
      display: none;
    }

  }
}

.p-navigation-category {
  margin-bottom: 2rem;
  &__title {
    padding: 1rem;
    text-align: center;
    color: $white;
    font-size: 1.2rem;
    display: block;
  }
  &-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    &--single {
      margin: 0 0 3rem 0;
      padding: 0;
    }

    &--single > &__item {
      border-bottom: 1px solid $site-theme-border;
      &:first-child {
        border-top: 1px solid $site-theme-border;;
      }
      > a {
        background-color: transparent;
        text-align: center;
      }
    }
    &__item {
      border-bottom: 1px solid $site-theme-color--lighten;
      display: block;
      flex-basis: calc(50% - 1px);
      &:nth-child(2n+1) {
        border-right: 1px solid $site-theme-color--lighten;
      }
      > a {
        width: 100%;
        padding: 1rem;
        color: $white;
        background-color: rgba($white, 0.15);
        display: block;
        position: relative;
        &:after {
          width: 4px;
          height: 7px;
          content: '';
          display: block;
          right: 1rem;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
          background: url("../../shared/images/common/navi-arw.sp.png") no-repeat center center;
          background-size: 100% 100%;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.p-helper-buttons {
  width: 220px;
  margin: 30px auto;
  padding: 0;
  > li {
    margin-bottom: 0.7rem;
  }
}

//開いた時、bodyを固定する
body.is-fixed {
  overflow: hidden;
}